div.create-course-page-wrapper{
	div.container-wrapper{
		border-bottom: 3px solid #ddd;
		// @include jadeGradient();
		// background: #eee;
		background-color: #eeeeee;
		background-image: url("http://www.transparenttextures.com/patterns/white-texture.png");
		/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
		&.course-header-wrapper{
			height: 250px;
		}
	}

	///////////////////////////////////////////////////
	//  Course Header
	///////////////////////////////////////////////////

	div.course-header{
		padding-top: 10px;
		margin-bottom: 50px;
		div.row{
			height: 100%;
		}
		height: 100%;
		// background: red;
		// padding: 13px;
		div.img-wrapper{
			position: relative;
			padding-top: 15px;
			text-align: center;
			height: 100%;
			div.add-image{
				@include transition(.4s ease);
				position: absolute;
				top: 30px;
				left: 40px;
				width: 150px;
				height: 150px;
				border-radius: 50%;
				border: 2px solid white;
			}
			li{
				@include transition(.4s ease);
				position: relative;
				top: 30px;
				font-size: 1.3em;
				color: white;
				&.plus{
					position: absolute;
					font-size: 5em;
					left: 50px;
					top: 50px;
				}
			}
			div.image-placeholder{
				// @include transition(.4s ease);
				cursor: pointer;
				width: 200px;
				height: 200px;
				border-radius: 20px;
				background-color: #202020;
				background-image: url("../img/bright-squares.png");
				&:hover{
					// background: rgba(0,0,0,.5);
					li{
						color: $gold;
						&.plus{
							@include transform(scale(1.1));
						}
					}
					div.add-image{
						border-color: $gold;
					}
				}
			}
			img.course-picture{
				background: #111;
				width: 200px;
				height: 200px;
				border-radius: 20px;
				// border: 1px solid #111;
			}
		} // img wrapper
		div.info-wrapper{
			padding-top: 20px;
			// background: lightgreen;
			height: 100%;
			h1.course-name{
				text-transform: capitalize;
				text-decoration: underline;
			}
			h5{
				margin-top: 20px;
			}
		}

		div.admin-wrapper{
			@include phoneOrLess {
				display: none;
			}
			padding-top: 20px;
			text-align: center;
			// background: gold;
			height: 100%;
			h3.admin-header{
				text-decoration: underline;
			}
			ul.admin-images{
				margin-top: 20px;
				// background: gray;
				// small adjustment to bootstrap tooltip
				li.admin{
					div.tooltip{
						.tooltip-inner{
							min-width: 80px;
						}
					}
					position: relative;
					margin-bottom: 5px;
					&:not(:last-of-type){
						margin-right: 5px;
					}
					display: inline-block;
					// for background of adding admin
					div.background{
						background: rgba(0,0,0,.4);
						height: 50px;
						width: 50px;
						border-radius: 50%;
						position: relative;
						bottom: 53px;
					}
					// add admin
					&.add-admin{
						margin-left: 30px;
						&:hover{
							cursor: pointer;
							span{
								color: $gold;
								@include transform(scale(1.1));
							}
						}
						h6{
							position: absolute;
							top: 55px;
							width: 100px;
							left: -25px;
						}
					}
				}
				img{
					border-radius: 50%;
					width: 50px;
				}
				span{
					@include transition(.3s ease);
					top: 0px;
					right: 13px;
					position: absolute;
					color: white;
					font-size: 3em;
				}
			}
		}
	} // course header

	// form stuff
	input.course-name{
		padding: 2px 10px;
		width: 300px;
		font-size: 1.5em;
	}
	textarea.course-description{
		width: 400px;
		height: 100px;
		font-size: 1.2em;
	}


///////////////////////////////////////////////////
//  Everything below the course header
///////////////////////////////////////////////////

div.submit-course-container{
	text-align: center;
}
button{
	font-size: 1.5em;
	display: inline-block;
	text-align: center;
}



















} // end of div course wrapper