*.css
*.css.map
.sass-cache/

# bower components ignored, so that editing bootstrap file can be shown
# bower_components

*.rtf
*.pptx



#____server stuff____
node_modules/
client/scripts/all.js

server/config/Secret.js
