html, body, div.site-wrapper{
	width: 100%;
	height: 100%;
}

html{
	font-size: 16px;
}

body{
	background: #f5f5f5;
	font-family: $textFont;
}



h1,h2,h3,h4,h5,h6{
	font-family: $headerFont;
}

p, div, button, a, ul, li, span{
	font-family: $textFont;
}

a{
	color: inherit;
}

a:hover, a:focus, a:active{
	text-decoration: none;
	color: inherit;
}

li{
	list-style-type: none;
}

[ng-click]:hover, [ui-sref]:hover{
	cursor: pointer;
}