// loading bootstrap, bourbon, reset.scss
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/reset-css/_reset.scss";
@import "../bower_components/sweetalert/dist/sweetalert.css";

//___________________Variables____________________

$jade: #00B16A;
$darkJade: darken($jade, 5);
$lightJade: lighten($jade, 5);

$gold: #ffe766;

//____________________Fonts_____________________
$headerFont: 'Bitter', serif;
$textFont: 'Open Sans', sans-serif;





///////////////////////////////////////////////////
//  Components
///////////////////////////////////////////////////

//_____________________Mixins______________________
@import "mixins/widgetMixins";
@import "mixins/mediaQuery";


@import "baseStyles";

//____________________Reusable components_____________________
// navbar
@import "../features/navbar/navbar";

// Components
@import "./components/searchBar";




//____________________Sass Files for Different Features_____________________

// for example,
@import "../features/featureTest/feature";

@import "../features/course/course";

@import "../features/allCourses/allCourses";

@import "../features/home/_home";

@import "../features/topic/_topic";

@import "../features/card/_card";

@import "../features/dashboard/_dashboard";

@import "../features/createCourse/createCourse";

@import "../features/quiz/quiz";





