<div class="course-page-wrapper">
	<div navbar></div>
	<div class="container-wrapper course-header-wrapper">
		<div class="course-header container">
			<div class="row">
				<div class="img-wrapper col-md-3 col-sm-4 col-xs-5">
					<img ng-src="{{currentCourse.picture}}" alt="Course Picture">
				</div>
				<div class="info-wrapper col-md-6 col-sm-5 col-xs-7">
					<h1 class="course-name">{{currentCourse.name}}</h1>
					<h5 class="course-description">{{currentCourse.description}}</h5>
				</div>
				<div class="admin-wrapper col-md-3 col-sm-3 col-xs-0">
					<h3 class="admin-header">Admins</h3>
					<!-- Will eventually have ng repeat here for imgs of admins -->
					<ul class="admin-images">
						<li class="admin" ng-repeat="admin in currentCourse.admins">
							<!-- {{admin.name}} -->
							<img ng-if="admin.avatar"ng-src="{{admin.avatar}}" alt=""
							data-toggle="tooltip" data-placement="bottom" title="hello">
							<img ng-hide="admin.avatar" src="img/user.png" alt="">
						</li>



					</ul>
				</div>
			</div>
		</div><!-- container, course header-->

		<div ui-view></div>



		<div class="topic-container container">
			<div class="row">
				<div class="topic-wrapper col-md-3 col-sm-4 col-xs-6" ng-repeat="topic in currentCourse.topics">
					<div class="topic" ng-click="goToTopic(topic._id)">

						<div class="topic-header">
							<h5 class="topic-name">{{topic.name}}</h5>
							<div class="num-to-review">
								<li>{{topic.numToReview}}</li>
							</div>
						</div>

						<div class="topic-body">
							<img ng-src="{{topic.picture}}" alt="" class="topic-picture">
						</div>



						
					</div>
				</div>
				
			</div>
			



		</div>

		
	</div><!-- container wrapper-->






	





















</div><!-- wrapper div for course-->