.dashboard {
    h1 {
        text-align: center;
    }
    .courses-enrolled {
        width: 40%;
        height: 200px;
        margin: 20px auto;
        border-radius: 30px;
        // margin: 20px;
        border: 1px solid red;
        &:hover{
        @include transform(scale(1.05));
    }
        h3, h4 {
            float: right;
            text-align: center;
            width: 70%;
            margin: 5px;
        }
        h3 {
            margin-top: 6%;
        }
        h4 {
            clear: both;
        }
        img.course-picture {
            background: red;
            max-width: 200px;
			width: 100%;
			border-radius: 20px;
			border: 1px solid #111;
            // text-align: center;
            // float: left;
            margin: 20px 20px;
        }
    }
    
    
    
    
}
// .dashboard .courseEnrollled #ulliimg {max-width:200px!important;}