* {
    // outline: 1px solid red;
}

.dashboard {
   .background-image {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-image: url(http://www.myfreetextures.com/wp-content/uploads/2011/06/illust31.jpg);
        -webkit-filter: opacity(.7);
        filter: opacity(.7);
        background-size: cover;
        }
    
    .courses-wrapper, .admin-wrapper {
        width: 60%;
        float: right;
    .courses-enrolled-box, .add-courses-box {
        float: left;
        margin-right: 20%;
        &:last-child {
            margin-bottom: 50px;
        }
        }
        @media(max-width: 1600px) {
            
           .courses-enrolled-box, .add-courses-box {
                margin-right: 10%;
            }
        }
        
    h1 {
        text-align: center;
        margin: 50px auto;
        font-size: 50px;
    }
    .add-enroll, .add-course {
        @include transition(.4s ease);
        min-height: 100px;
        border: 2px solid #000;
        background-color: /*#00a865*/ rgba(197, 220, 234, .7);
        margin-top: 10px;
        border-radius: 0.5em;
        position:relative;
        min-width: 950px;        
        &:hover{
        @include transform(scale(1.05));
        }
        h2 {
            text-align: center;
            margin-top: 3%;
            width: 86%;
            float: right;
        }
        .add-picture {
            max-width: 100px;
			width: 100%;
        }
    }
    .courses-enrolled, .courses-admin {
        @include transition(.4s ease);
        min-height: 100px;
        border: 2px solid #000;
        background-color: /*#00a865*/ rgba(197, 220, 234, .7);
        margin-top: 20px;
        border-radius: 5px;
        position:relative;
        min-width: 950px;
        display: flex;
        justify-content: center;
        
        &:hover{
        @include transform(scale(1.05));
        }
        
        
        
        
        h3, h4 {
            float: right;
            text-align: center;
            width: 80%;
            margin: 5px;
            overflow: hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis; 
            width: 815px;
        }
        h3 {
            margin-top: 3%;
        }
        h4 {
            clear: both;
            text-overflow: ellipsis;
        }
        img.course-picture {
            max-width: 100px;
			width: 100%;
			border-radius: 5px;
			border: 1px solid #111;
            margin: 10px 10px;
        }
    }
      .topic-box {
          margin: 0 auto;
          text-align: center;
          border: 1px solid black;
          width: 70%;
          background-color: rgba(96, 96, 96, 0.7);
          height: auto;
          padding: 5px;
          color: white;
          &:hover{
          @include transform(scale(1.05));  
          }  
      }
            .topic-box:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;   
            }
    }
    
    .notifications {
        position: absolute;
    }
    .notify-box {
        // border: 1px solid black;
        width: 600px;
        height: auto;
        float: left;
        margin: 0px 20px 20px 15%;
        border-radius: 5px;
        h1 {
            font-size: 50px;
            margin: 50px 0;
        }
        
        h1, h3{
            // margin-top: 5px;
            text-align: center;
        }
        h3 {
            margin-bottom: 10px;
            &:hover{
            @include transform(scale(1.05));
            }
        }
    }    
    
.my-course {
    // margin-top: 100px;
    margin-right: 10px;
    position: absolute;
    margin-top: 60px;
    margin-left: 775px;
    background-color: white;
    border: 1px solid gray;
}



}
