<div navbar></div>
<div class="dashboard">

    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="sidebar col-lg-3 col-md-3 col-sm-5">
                    <h2>Courses To Review</h2>
                    <p ng-repeat="course in coursesToReview" ng-click="passCardsToQuizCourse(course.courseNumber)">{{course.name}}</p>
                    <p class="nothing-to-review" ng-show="coursesToReview.length===0">Congrats, You have nothing to review! Check back later to see your status.</p>
                </div>
                <div class="main-wrapper col-lg-9 col-md-9 col-sm-7">
                    <h5 class="intro">Welcome back, {{user.name}}.  You have <strong>{{cardsToReview.length}}</strong> cards to review in <strong>{{coursesToReview.length}}</strong> different courses.</h5>


                    <div class="courses">
                        <div class="create-course-btn-wrapper">
                            <button ui-sref="createCourse" class="btn btn-primary add-new-course-btn">Create New Course</button>
                        </div>
                        <!-- Form controlling whether to show enrolled courses or courses admin of -->
                        <form class="checkboxes" action="">
                            <div class="checkbox courses-admin-for">
                                <h6>Courses Admin For</h6>
                                <input type="checkbox" checked ng-click="adminCoursesShowing = !adminCoursesShowing; changeCoursesToShow()">
                            </div>
                            <div class="checkbox courses-enrolled-in">
                                <h6>Courses Enrolled In</h6>
                                <input type="checkbox" checked ng-click="coursesEnrolledInShowing = !coursesEnrolledInShowing; changeCoursesToShow()">
                            </div>


                        </form>


                        <div class="course" ng-repeat="course in dashCoursesToShow" expand-course>
                            <span class="plus">+</span>
                            <img ui-sref="course({courseId: {{course.courseNumber}}})" ng-src="{{course.picture}}" alt="" class="course-picture">
                            <h3 class="course-name"><a ui-sref="course({courseId: {{course.courseNumber}}})">{{course.name}}</a></h3>

                            <div class="topics">
                                <div class="topic" ng-repeat="topic in course.topics">
                                    <li ng-click="goToTopic(topic._id, $parent.course.courseNumber)">Topic {{$index+1}}:<span>{{topic.name}}</span></li>
                                </div>
                                <div class="no-topics" ng-show="course.topics.length===0">
                                    No Topics Created Yet!
                                </div>
                            </div>


                        </div>




                    </div>

                </div>

            </div>



        </div>










    </div>










    <!-- <div class="background-image"></div> -->







    <!-- Courses They Are Admin For Section-->






</div>