<div class="navbar-wrapper" ng-controller="masterCtrl">
	<div class="navbar">
		<div class="container navbar-container">
			
			<div class="row">
				<div class="navbar-search-container">
					<div class="navbar-logo">
						<a ui-sref="home">Kronolearn</a>
					</div>

					<div class="search-wrapper spec" searchbar-expand>
						<i class="fa fa-search"></i>
						<input class="search-bar-peter" type="text" placeholder='Search for Courses ' name="masterCoursesInput" id="masterCoursesInput" class="search-bar-peter" ng-model="mastercoursesearch" typeahead="course.name for course in masterCoursesArray | filter:{name: $viewValue} | limitTo:8" typeahead-on-select="goToCourse($item, $model, $label)">
					</div>
				</div>

				<!--_______________user profile drop down menu________________-->
					<div ng-show="user" user-menu class="user-profile">
					<img ng-show="user.avatar" class="user-profile" ng-src="{{user.avatar}}" ng-if="!loadingUser" alt="">
					<img class="user-profile" ng-hide="user.avatar" src="img/user.png" alt=""><i class="fa tabletOrLess fa-caret-down"></i>
						<li>{{user.name}} <i class="fa fa-caret-down"></i></li>
						<div  class="user-menu">
							<!-- acccount page goes to reports, within account -->
							<a class="menu-item-wrapper" ui-sref="dashboard">
								<div class="menu-item">
									<li>Home</li>
									<i class="fa fa-home"></i>
								</div>
							</a>
							<a class="menu-item-wrapper" ui-sref="account">
								<div class="menu-item">
									<li>Account</li>
									<i class="fa fa-user"></i>
								</div>
							</a>
							<a class="menu-item-wrapper" href="/api/logout">
								<div class="menu-item">
									<li>Logout </li>
									<i class="fa fa-sign-out"></i>
								</div>
							</a>

						</div>
					</div>




					


			</div><!-- row -->




		</div>
	</div>
	
	<!-- just so navbar can push stuff below it-->
	<div class="navbar-spacer">.</div>
</div>