.allCoursesFull {
    height: 100%;
    min-height: 960px;
    width: 100%;
    background: url(http://www.pageresource.com/wallpapers/wallpaper/antique-clock_543456.jpg) no-repeat center center fixed;
    background-size: cover;
}

.allCoursesContainer {
    text-align: center;
}

.allCoursesFull .search-bar {
    margin: 50px auto 0 auto;
    text-align: center;
    height: 50px;
    font-size: 36px;
    width: 500px;
    border: 1px solid #000;
    color: #00a86b;
    background-color: #eaeaea;
    border-radius: 1em;
}

.allCoursesFull .course-block h2 {
    width: 90%;
    min-width: 340px;
}

.allCoursesFull .course-topic h3 {

    text-align: center;
}

.allCoursesFull .course-block h5 {
    width: 90%;
    text-overflow: clip;
    text-overflow: ellipsis;

}

.allCoursesFull .course-block {
   @include transition(.4s ease);
    width: 75%;
    height: 100px;
    border: 2px solid #000;
    background-color: #00a865;
    margin: 25px auto 0 auto;
    border-radius: 1em;
    &:hover{
        @include transform(scale(1.05));
    }
}

/*
{
			@include transition(.4s ease);
			text-align: center;
			margin-bottom: 20px;
			// background: steelblue;
			height: 200px;
			border: 2px solid #ddd;
			&:hover{
				@include transform(scale(1.05));
			}








*/

.allCoursesFull .course-topic {
    width: 60%;
    height: 50px;
    border: 2px solid #000;
    background-color: #0091a8;
    margin: 0 auto;
}

.allCoursesFull .course-block:hover {
    cursor: pointer;
    background-color: #028e5b;
}

.allCoursesFull #course-pic {
    height: 75px;
    width: 75px;
    float:left;
    border-radius: 1em;
}

.allCoursesFull .launch-course {
    height: 50px;
    font-size: 24px;
}

//-------MEDIA QUERIES---------------

@media screen and (max-width:768px) {
    
    .allCoursesFull .search-bar {
        width: 70%;
        min-width: 340px;
        font-size: 18px;
    }
}