.allCoursesFull {
    height: 900px;
    width: 100%;
    background: url(http://www.pageresource.com/wallpapers/wallpaper/antique-clock_543456.jpg) no-repeat center center fixed;
    background-size: cover;
}

.allCoursesContainer {
    text-align: center;
    
}

.search-bar {
    margin: 50px auto 0 auto;
    text-align: center;
    height: 50px;
    font-size: 36px;
    width: 500px;
    border: 1px solid #000;
}

.course-block h2 {
    margin: 0 auto;
}

.course-topic h3 {

    text-align: center;
}

.course-block {
    width: 75%;
    height: 100px;
    border: 2px solid #000;
    background-color: #00a86b;
    margin: 25px auto 0 auto;
}

.course-topic {
    width: 60%;
    height: 50px;
    border: 2px solid #000;
    background-color: #0091a8;
    margin: 0 auto;
}

.course-block:hover {
    cursor: pointer;
    opacity: 0.8;
}

#course-pic {
    height: 75px;
    width: 75px;
    float:left;
}