.allCoursesFull {
    height: 100%;
    min-height: 960px;
    width: 100%;
    background-color: #eeeeee;
    background: url("http://www.transparenttextures.com/patterns/white-texture.png");
}

.allCoursesFull .subject-filter-block {
    background-color: /*#00a865*/ rgba(203, 214, 242, .95);
    border: 2px solid #000;
    border-radius: 1em;
    width: 200px;
    height: 700px;
    padding: 10px 10px 10px 20px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 15%;
    //overflow-y: scroll;
    line-height: 30px;
    @include transition(.4s ease);
}

.allCoursesFull .subject-filter-block p:hover {
    text-decoration: underline;
    cursor: pointer;
     @include transform(scale(1.05));
}

.allCoursesContainer {
    text-align: center;
}

.allCoursesFull .search-bar {
    margin: 50px auto 0 auto;
    text-align: center;
    height: 50px;
    font-size: 36px;
    width: 500px;
    border: 1px solid #000;
    color: #00a86b;
    background-color: #fff;
    border-radius: 1em;
}

.allCoursesFull .search-bar:focus {
    outline: none;
}

.allCoursesFull .course-block h2 {
    width: 90%;
    min-width: 340px;
}

.allCoursesFull .course-topic h3 {

    position: absolute;
    left: 44%;
    clear: both;
}

.allCoursesFull .course-block h5 {
    width: 90%;
    /*padding-right: 200px; */
  /*  width: 90%;
    text-overflow: clip;
    text-overflow: ellipsis; */

}

.allCoursesFull .course-block {
   @include transition(.4s ease);
    width: 75%;
    min-height: 100px;
    border: 2px solid #000;
    background-color: /*#00a865*/ rgba(203, 214, 242, .95);
    margin: 25px auto 0 auto;
    border-radius: 1em;
    position:relative;
    &:hover{
        @include transform(scale(1.05));
    }
}

.allCoursesFull .info-contain {
    padding: 0 100px;
}

/*
{
			@include transition(.4s ease);
			text-align: center;
			margin-bottom: 20px;
			// background: steelblue;
			height: 200px;
			border: 2px solid #ddd;
			&:hover{
				@include transform(scale(1.05));
			}








*/

.allCoursesFull .course-topic {
    width: 60%;
    height: 50px;
    border: 2px solid #000;
    background-color: #0091a8;
    margin: 0 auto;
}

.allCoursesFull .course-block:hover {
    cursor: pointer;
    background-color: #028e5b;
}

.allCoursesFull #course-pic {
    height: 75px;
    width: 75px;
    float:left;
    border-radius: 1em;
}

/*.allCoursesFull .launch-course {
    height: 50px;
    font-size: 24px;
}*/

.allCoursesFull .go-course-button {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

//-------MEDIA QUERIES---------------

@media screen and (max-width:768px) {
    
    .allCoursesFull .search-bar {
        width: 70%;
        min-width: 340px;
        font-size: 18px;
    }
}