<div class="container allCoursesContainer" ng-controller="allCoursesCtrl">
    <div class="course-block" ng-click="topicsShowing=!topicsShowing">

        <h2>Course Name</h2>
        
    

    </div>
    
    <div class="course-topic" ng-show="topicsShowing">
        <h3>Topic Name</h3>
    </div>
    
    
    
    
    
    
    <div class="course-block" ng-click="topicsShowing2=!topicsShowing2">

        <h2>Course Name 2</h2>

    </div>
    
    <div class="course-topic" ng-show="topicsShowing2">
        <h3>Topic Name 1</h3>
    </div>
    
    <div class="course-topic" ng-show="topicsShowing2">
        <h3>Topic Name 2</h3>
    </div>
</div>