<div navbar></div>
<div class="allCoursesFull">
    <div class="container allCoursesContainer">
    
        
        <input name="coursesInput" id="coursesInput" type="text" class="search-bar" placeholder="Search Courses..." ng-model="coursesearch" typeahead="course.name for course in allCoursesArray | filter:{name: $viewValue} | limitTo:8">
    
    
    
     <div class="full-block" ng-repeat="course in allCoursesArray |    filter: {name:coursesearch}">   
            <div class="course-block" ng-click="topicsShowing=!topicsShowing">

              
                 <img ng-src="{{course.picture}}" id="course-pic">
              
            
              <h2>{{course.name}}</h2>
                </br>
              <h5>{{course.description}}</h5>
        <!--    <button class="btn btn-primary launch-course" ng-show="topicsShowing">Launch Course</button> -->

         </div>
         <div class="course-topic" ng-show="topicsShowing" ng-repeat="topic in course.topics">
               <h3>{{topic}}</h3>
         </div>
        
       </div>

    </div>
</div>