.topic {
    
    .heading {
        display: flex;
        justify-content: center;
        margin: 2em;
        img {
            height: 6em;
            border-radius: 10%;
        }
        h1 {
            padding-left: 3%;
            font-size: 6em;
        }
    }
    
    .description {
        text-align: center;
        font-size: 2em;
    }
    
    h2 {
        margin-top: 1.7%;
    }
    
    .review {
        padding-left: 19%;
    }
    
    .list {
        margin-top: 1%;
        display: flex;
        div {
            font-size: 1.4em;
            color: white;
            background-color: #00b66d;
            border: .5px solid #000;
            border-radius: .2em;
            margin-right: 1%;
            padding: .5%;
        }
    }
    
    .learn {
        display: flex;
        justify-content: center;
        button {
            margin-top: 3%;
            font-size: 2em;
        }
    }
    
    .progressBar {
        margin: 0 auto;
        margin-top: 3%;
        width: 65%;
        height: 3em;
		border: 1px solid #111;
		background-color: white;
        border-radius: .5em;
    }
			
    .progressBar div {
        height: 100%;
        width: 0;
        background-color: $jade;
        border-radius: .5em;
    }
    
    .addMaterial {
        position: fixed;
        width: 24%;
        top: 10%;
        left: 38%;
        background-color: white;
        padding: 1%;
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        box-shadow: 5px 5px 5px black;
        input {
            padding: 2%;
        }
        p, input {
            margin-bottom: 2%;
        }
        p {
            text-align: center;
            font-size: 3em;
        }
        button {
            margin: 0 0 0 auto;
        }
    }
    
}