
<navbar></navbar>
<div class="topic">
    <div class="heading">
        <img src="{{topic.picture}}">
        <h1>{{topic.name}}</h1>

    </div>
    <p class="description">{{topic.description}}</p>
    
    <h2 class="review">Review Materials:</h2>
    
    <div class="review list">
        <div ng-repeat="reviewMaterial in reviewMaterials"><a href="http://{{reviewMaterial.materialUrl}}" target="_blank">{{reviewMaterial.material}}</a></div>
        <div ng-click=displayMaterial()>Add Review Material</div>
    </div>
    
    <div class="learn">
        <button class="btn btn-lg btn-primary" ng-click="goToQuiz(topic._id)">Start Quiz!</button>
        <button class="btn btn-lg btn-primary" ng-click="createCards(topic._id)">Make Cards</button>
    </div>
    
    <div progress-bar class="progressBar"><div></div></div>
    
    <form class="addMaterial" ng-show="showMaterial">
        <p>New Material</p>
        <input type="text" placeholder="Name" ng-model="material.material">
        <input type="text" placeholder="Link Url" ng-model="material.materialUrl">
        <button class="btn btn-lg btn-primary" ng-click="addMaterial()">Add Material</button>
    </form> 
        
</div>