
<navbar></navbar>
<div class="topic">
    <div class="heading">
        <img src="{{topic.picture}}">
        <h1>{{topic.name}}</h1>

    </div>
    <p class="description">{{topic.description}}</p>
    
    <h2 class="review">Review Materials:</h2>
    
    <div class="review list">
        <div ng-repeat="reviewMaterial in reviewMaterials"><a href="{{reviewMaterial.materialUrl}}" target="_blank">{{reviewMaterial.material}}</a></div>
        
    </div>
    
    <div class="learn">
        <button class="btn btn-lg btn-primary" ng-click="goToQuiz(topic._id)">Start Quiz!</button>
    </div>
    
    <div class="progressBar" id="75"><div></div></div>
	<div class="progressBar" id="26"><div></div></div>
    <div class="progressBar" id="11"><div></div></div>
        
</div>