<div navbar></div>
<div class="card-wrapper container">
    
  <div class="card-header">
        <h1>{{currentTopic.name}}</h1>
        <h2>{{currentCard + 1}}. {{currentTopic.cards[currentCard].question}}</h2>
  </div>
</br>
</br>
  <div class="card-body">
     <li class="card-answers" ng-repeat="answer in currentTopic.cards[currentCard].answers">
         <button isolate class="answer-btn btn" ng-class="{'btn-primary': isSelected, 'btn-info': !isSelected}" ng-click="isSelected = !isSelected; changeUserAnswer(answer.text)">{{answer.text}}</button>
      </br>
     </li>
</br>
</br>
    <button class="btn btn-warning submit-button" ng-click="stopTimer(); answerCheck()">Submit Answer</button>

    <i class="fa fa-arrow-circle-o-right arrow-right" ng-click="nextCard()" ng-hide="(currentCard === (currentTopic.cards.length - 1))"></i>

    <i class="fa fa-arrow-circle-o-left arrow-left" ng-click="prevCard()" ng-hide="(currentCard === 0)"></i>
  </div>