.home {
  @include size(100%);
  @include position(relative);
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  background-image: url("/img/bg-pattern.png"), url("/img/KLbackground.jpg");
  background-size: auto auto, 100% 100%;
  background-repeat: repeat, no-repeat;
  background-position: top left, top left;
  background-color: #333333;
  font-style: normal;

  .login-item {
    text-align: center;
    width: 22em;

    .logo {
      @include size(100% 78px);
      @include margin(0 0 2em);
      background: url("/img/KLLogo.png") center center no-repeat;
    }

    .login-form {
      .input-group {
        @include margin(0 0 1.5em);
        width: 100%;

        input[type="email"], input[type="password"] {
          @include transition(0.2s all linear);
          @include padding(0.8em);
          width: 100%;
          background: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid rgba(255,255,255,0.4);
          color: rgba(255,255,255,0.7);
          outline: none;
          font-family: 'Open Sans', sans-serif;

          &:focus {
            border-bottom: 1px solid rgba(255,255,255,0.6);
            color: rgba(255,255,255,0.95);
          }
        }
      }
      .errMessage {
        color: red;
      }

      .button-group {
        @include margin(3em 0 1em);

        .button.button-transparent {
          @include padding(1em);
          @include margin(0 0 1em);
          @include transition(0.2s all linear);
          display: block;
          text-align: center;
          border: 1px solid rgba(255,255,255,0.2);
          color: rgba(255,255,255,0.7);
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 400;

          &:hover {
            border: 1px solid rgba(255,255,255,0.4);
            color: rgba(255,255,255,0.85);
          }

          &:focus, &:active {
            border: 1px solid rgba(255,255,255,0.6);
            color: rgba(255,255,255,0.95);
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
  
  
  .sign-up-item {
    text-align: center;
    width: 22em;

    .logo {
      @include size(100% 78px);
      @include margin(0 0 2em);
      background: url("/img/KLLogo.png") center center no-repeat;
    }

    .sign-up-form {
      .input-group {
        @include margin(0 0 1.5em);
        width: 100%;

        input[type="email"], input[type="text"], input[type="password"] {
          @include transition(0.2s all linear);
          @include padding(0.8em);
          width: 100%;
          background: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 1px solid rgba(255,255,255,0.4);
          color: rgba(255,255,255,0.7);
          outline: none;
          font-family: 'Open Sans', sans-serif;

          &:focus {
            border-bottom: 1px solid rgba(255,255,255,0.6);
            color: rgba(255,255,255,0.95);
          }
        }
      }
      .errMessage {
        color: red;
      }

      .button-group {
        @include margin(3em 0 1em);

        .button.button-transparent {
          @include padding(1em);
          @include margin(0 0 1em);
          @include transition(0.2s all linear);
          display: block;
          text-align: center;
          border: 1px solid rgba(255,255,255,0.2);
          color: rgba(255,255,255,0.7);
          text-transform: uppercase;
          text-decoration: none;
          font-weight: 400;

          &:hover {
            border: 1px solid rgba(255,255,255,0.4);
            color: rgba(255,255,255,0.85);
          }

          &:focus, &:active {
            border: 1px solid rgba(255,255,255,0.6);
            color: rgba(255,255,255,0.95);
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }
} 
  
    
    // display: flexbox;
    // align-items: center;
  
  
  
  
  
  
  
  

//     h1 {
//         padding: 2% 0 0 0;
//         font-size: 5em;
//     }

//     p {

//         font-size: 1.5em;
//         padding: 2%;
//     }

//     .background-image {
//         position: fixed;
//         left: 0;
//         right: 0;
//         top: 0;
//         bottom: 0;
//         z-index: -1;
//         background-image: url(http://www.mbuh.xyz/p/clock-wallpaper-background-8kpw.jpg);
//         -webkit-filter: opacity(.7);
//         filter: opacity(.7);
//         background-size: cover;
//     }
    
    

//     .holder {

//         padding-top: 7%;
//         display: flex;
//         justify-content: center;
//     }

//     .not-background {
//         background-color: rgba(203, 214, 242, .8);
//         padding-bottom: 2%;
//         text-align: center;
//         border-radius: 1em;
//     }

//     div {
//         button {
//             margin: 0 3%;
//             margin-top: 2%;
//         }
//     }
    
//     .modal-content {
//         font-size: 1.5em;
//         padding: 2%;
//         padding-top: 4%;
//         padding-bottom: 4%;
//         text-align: center;
//         background-color: #d8d7d2;
//         .btn-lg {
//             padding: 5px 10px;
//         }
//     }
    
//     input {
//         margin: 2%;
//         padding: 1%;
//         border-radius: .1em;
//         border: 0;
//     }
    

// }




