<div class="home">

  <div class="login-item" ng-show="!loginShow">
  <h1 class="logo"></h1>
    <form class="login-form" method="post">
      <div class="input-group">
        <input placeholder="E-Mail" ng-model="user.email" name="email" type="email">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" ng-model="user.password" name="password">
      </div>
      <p class="errMessage">{{ loginMess }}</p>
      <div class="button-group">
        <a class="button button-transparent" ng-click="login()" type="submit">Login</a>
      </div>
      <div class="button-group">
        <a ng-click="signupShow=!signupShow; loginShow=!loginShow" class="button button-transparent">Sign up</a>
      </div>
    </form>
  </div>
  
  
  <div class="sign-up-item" ng-show="signupShow">
  <h1 class="logo"></h1>
    <form class="sign-up-form" method="post">
      <div class="input-group">
        <input placeholder="Name" ng-model="user.name" name="name" type="text">
      </div>
      <div class="input-group">
        <input placeholder="E-Mail" ng-model="user.email" name="email" type="email">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" ng-model="user.password" name="password">
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" ng-model="passwordcheck" name="password">
      </div>
      <p class="errMessage">{{ loginMess }}</p>
      <div class="button-group">
        <a class="button button-transparent" ng-click="signup()">Sign up</a>
      </div>
      <div>
        Already have an acount?
        <a class="button button-transparent" ng-click="loginShow=!loginShow; signupShow=!signupShow" type="submit">Login</a>
      </div>
    </form>
  </div>
</div>







<!--<div ng-controller="homeCtrl" class="home">

      Log In modal  

    <div id="login" class="modal bs-login-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form>
                    <input type="text" placeholder="E-Mail" ng-model="user.email" name="email">
                    <input type="password" placeholder="Password" ng-model="user.password" name="password">
                    <button data-toggle="modal" data-target=".bs-login-modal-sm" ng-click="login()" type="submit" class="btn btn-lg btn-primary">Log In</button>
                </form>
            </div>
        </div>
    </div>

     Sign up Modal 
    <div id="signup" class="modal bs-signup-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form>
                    <input ng-model="user.name" type="text" placeholder="Name" name="name">
                    <input ng-model="user.email" type="text" placeholder="E-Mail" name="email">
                    <input ng-model="user.password" type="password" placeholder="Password" name="password">
                    <input ng-model="passwordcheck" type="password" placeholder="Password" name="password">
                    <button data-toggle="modal" data-target=".bs-signup-modal-sm" ng-click="signup()" type="submit" class="btn btn-lg btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <div class="background-image"></div>

    <div class="holder">
        <div class="not-background">
            <h1>Kronolearn</h1>
            <p>Learn and retain for the rest of your life by using the amazing principles of spaced repetition.</p>
            <p class="errMessage">{{ loginMess }}</p>
            <div>
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#login">Log In</button>
                <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#signup">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>-->